body {
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
	font-size: 16px;
	width: 100%;
	height: 100%;
	opacity: 1;
}
p {
	 margin: 0;
	 padding: 0; 
}

#flag {
	z-index: 0;
	width: 100vw;
	height: 100vh;
	background-color: #f9f9f9;
}

article {
	display: flex;
	flex-flow: row;
	z-index: 1;
	position: absolute;
	top: 0;
}

.article--inner {
	width: 24vw;
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	flex: 1 0 auto;
	background-color: hsla(50, 33%, 25%, 0.3);

}

h1 {
	font-family: 'Bungee Shade', cursive;
	font-size: 4rem;
	opacity: 1;
	color: #fff;
	opacity: 1;
    padding: 0 0 0 20px;
	

}

.choose {
	display: block;
	width: 100%;
	min-height: 80px;
	font-family: 'Hind', sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	border: none;
	outline: none;
	opacity: 0.5;
}

.country-info, 
.share-links {
	font-family: 'Hind', sans-serif;
	font-size: 1.5rem;
	padding: 0 0 0 10px ;
	opacity: 0.5;
	background-color: #fff;
	margin-top: 0;
	padding: 0 0 0 20px;

}

.share {
	display: flex;
	flex-flow: row nowrap;
	height: 50px;
	width: auto;
	background-color: #f9f9f9;
	font-family: 'Hind', sans-serif;

}

.social {
	height: 50px;
	background-color: #f9f9f9;

}
.share-links {
	font-size: 1rem;
	padding-top: 9px;
	opacity: 0.6;
}

